.linha_registros1 {
  background-color: rgb(196, 230, 243);
  color: black;
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.linha_registros1:hover {
  background-color: rgb(133, 170, 252);
  color: black;
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.linha_registros2 {
  background-color: rgb(223, 239, 250);
  color: black;
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.linha_registros2:hover {
  background-color: rgb(133, 170, 252);
  color: black;
  text-align: center;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.nome {
  color: black;
  text-align: left;
  vertical-align: middle;
  height: auto;
  width: auto;
}

#boletim {
  border: 1px solid black;
  background-color: black;
}

input[type="number"] {
  width: 85%;
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  border: none;
}

.titulo_tabela {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: rgb(0, 0, 156);
  font-family: Arial;
  color: white;
}

#btn_editar {
  background-color: darkblue;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px white;
  cursor: pointer;
}

#btn_cancelar {
  background-color: rgb(177, 21, 1);
  color: white;
  width: 140px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px white;
  cursor: pointer;
}

#btn_limpar {
  background-color: rgb(255, 157, 9);
  color: white;
  width: 110px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px white;
  cursor: pointer;
}

#btn_limpar:hover {
  text-decoration: underline;
}

#btn_publicar {
  background-color: rgb(157, 157, 157);
  color: rgb(177, 177, 177);
  width: 130px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px white;
}

#btn_editar:hover {
  text-decoration: underline;
}

#btn_cancelar:hover {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

#btn_boletimPDF_aluno {
  background-color: rgb(255, 157, 9);
  border: none;
  height: 58px;
  border-radius: 15px;
  width: 183px;
}

#btn_boletimPDF_aluno:hover {
  background-color: rgb(252, 164, 33);
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 0 0 3px 3px rgba(185, 185, 185, 0.795);
}

.btn_boletimPDF_funcionarios {
  background-color: rgb(255, 157, 9);
  border: none;
  height: 43px;
  border-radius: 15px;
  width: 150px;
  margin-right: 20px;
}

.btn_boletimPDF_funcionarios:hover {
  background-color: rgb(252, 164, 33);
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 0 0 3px 3px rgba(185, 185, 185, 0.795);
}

.select_boletim {
  text-align: center;
  border-radius: 5px;
  width: auto;
  height: 40px;
  margin-right: 8px;
}

.options_validos {
  background-color: rgb(223, 239, 250);
  cursor: pointer;
}

.ignorar {
  background-color: gray;
  cursor: default;
}

.img_boletim {
  height: 27px;
  width: auto;
}

.img_boletim_funcionarios {
  margin-left: 10px;
  height: 27px;
  width: auto;
}
