/*
* Classes gerais
*/
.centralizar-texto {
  text-align: center;
}

.msg_erro {
  color: red;
  font-size: 15px;
  text-decoration: none;
  background: none;
  font-family: "Times New Roman";
  text-shadow: none;
  position: relative;
  bottom: 30px;
}

/*
* Títulos - nível 1
*/
h1.titulo-principal {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 55px;
}

h1.titulo-medio {
  font-family: Verdana;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
